* {
  margin: 0
}



#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 70px;
  min-width: 100vw;
  min-height: calc(100vh - 70px);
  cursor: url("QQ_cursor.png"), auto;
}

@font-face {
  font-family: 'LuckiestGuy';
  font-style: normal;
  font-weight: 100;
  src: url("LuckiestGuy-Regular.ttf") format('truetype');
}

.mainPageCont {
  display: grid;
  width: 75%;
  grid-template-columns: auto auto;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 25%;
  margin-right: 25%
}

.gameModeTitle {
  font-family: 'LuckiestGuy';
}

.gameModeCont {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #263864;
  border-radius: 25px;
  height: 250px;
  position: relative;
  width: 360px;
  margin: auto
}

.gameModeSummary {
  font-size: 20px;
}

.gameModeCont p {
  margin: 10px;
}

.startGameHomePage {
  width: 150px;
  font-size: 20px;
}

.gameModeCont button {
  margin-bottom: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.navCont {
  width: 100%;
  background-color: #263864;
  color: white;
  padding: 0px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  height: 70px;
  left: 0;
  align-items: center;
  overflow-x: auto;
  z-index: 1000;
}

.navLoginLogout {
  position: absolute;
  right: 0;
  margin-right: 20px
}

.navTitle {
  font-family: 'LuckiestGuy';
  margin-top: 7px;
  margin-right: 20px
}

.navHistory,
.navMyStats,
.navSettings,
.navProfile {
  margin: 0px 20px;
}

.goToRegister {
  margin: 0 auto;
  display: block;
}

body {
  background-image: linear-gradient(to bottom right, #033495, #AEE4FF);
}

.blueBodyBackground {
  background-image: linear-gradient(to bottom right, #033495, #AEE4FF);
}

.pinkBodyBackground {
  background-image: linear-gradient(to bottom right, #D74177, #FFE98A);
}

.greenBodyBackground {
  background-image: linear-gradient(to bottom right, #18A5A7, #BFFFC7);
}

.formContainerLogin,
.formContainerRegister,
.optionsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: #263864;
  width: 500px;
  border-radius: 25px;
}

.optionsContainer {
  padding: 20px;
}

.difficultyDrop,
.categoryDrop {
  width: 70%;
  margin: auto;
  border-radius: 25px;
  font-size: large;
  padding: 10px;
  margin-bottom: 10px
}

.startGameBtn {
  width: 150px;
  margin: auto;
  margin-top: 20px
}

.formContainerRegister p,
.formContainerRegister button,
.formContainerRegister h2 {
  margin: 20px;
}

.logInLabel,
.signUpLabel,
.logInTextInput,
.signUpTextInput {
  display: block;
  margin: 10px;
  padding: 0px;

}

.logInTextInput,
.signUpTextInput {
  font-size: large;
  border-radius: 10px;
  margin: auto;
  padding: 5px;
}

.logInLabel,
.signUpLabel,
.diffLabel,
.catLabel {
  font-family: "LuckiestGuy";
  font-size: 35px;
  color: white;
}

.needAccount {
  display: inline-block;
  margin-right: 1px;
  padding: 0px;
}

.logInBtn,
.signUpBtn {
  margin-bottom: 20px
}

.fromLoginToRegister button,
.fromRegisterToLogin button {
  background-color: transparent;
  display: inline-block;
  color: #033495;
  text-decoration: underline;
  margin-left: 5px;
  padding: 0px;
}

.alreadyMemberText {
  display: inline-block;
}

.pwInst {
  color: white;
}

.logo {
  height: 4em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
  margin: 3px, 5px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.questionCont {
  background-color: #D9D9D9;
  margin: 30px;
  padding: 30px;
  border-radius: 25px;
  color: #263864;
  font-weight: bold;
}

.QAndACont {
  display: flex;
  flex-direction: column;
  background-color: #263864;
  margin-top: 90px;
  border-radius: 25px;
  width: 850px;
}

.answerCont {
  display: flex;
  flex-direction: row;
  background-color: #D9D9D9;
  margin: 30px;
  border-radius: 25px;
  height: 60px;
}

.answerIndex,
.answerText {
  display: inline-block;
  margin: auto 20px;
  color: #263864;
}

.answerIndex {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #263864;
  color: #AEE4FF;
  padding: auto;
  align-items: center;
  vertical-align: middle;
}

.answerIndexText {
  margin-top: 15%;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 10px;
  color: #033495;
  font-style: italic;
}