* {
  margin: 0
}



#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 70px;
  min-width: 100vw;
  min-height: calc(100vh - 70px);
  cursor: url("QQ_cursor.png"), auto;
}

@font-face {
  font-family: 'LuckiestGuy';
  font-style: normal;
  font-weight: 100;
  src: url("LuckiestGuy-Regular.ttf") format('truetype');
}

.mainPageCont {
  display: grid;
  width: 60%;
  grid-template-columns: auto auto;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: 25%;
  margin-right: 25%
}

.gameModeTitle {
  font-family: 'LuckiestGuy';
}

.gameModeCont {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  border-radius: 25px;
  height: 250px;
  position: relative;
  width: 360px;
  margin: auto
}

.darkBlueBackground {
  background-color: #263864;
}

.darkPinkBackground {
  background-color: #974C79;
}

.darkGreenBackground {
  background-color: #187072;
}

.darkPurpleBackground {
  background-color: #503786;
}

.darkYellowBackground {
  background-color: #D68659;
}

.darkCodeCoolBackground {
  background-color: #231E52;
}

.darkKvesztiBackground {
  background-color: #1C1C1C;
}

.darkZsaniBackground {
  background-color: #002B36;
}


.darkBlueBackground p.active {
  color: #263864;
  font-weight: bold;
  background-color: #AEE4FF;
  padding: 8px;
  border-radius: 30px;
  width: 150px;
}

.darkGreenBackground p.active {
  color: #187072;
  font-weight: bold;
  background-color: #BFFFC7;
  padding: 8px;
  border-radius: 30px;
  width: 150px;
}

.darkPinkBackground p.active {
  color: #974C79;
  font-weight: bold;
  background-color: #FFE98A;
  padding: 8px;
  border-radius: 30px;
  width: 150px;
}

.darkPurpleBackground p.active {
  color: #503786;
  font-weight: bold;
  background-color: #D8C1F5;
  padding: 8px;
  border-radius: 30px;
  width: 150px;
}

.darkYellowBackground p.active {
  color: #D68659;
  font-weight: bold;
  background-color: #FFEE93;
  padding: 8px;
  border-radius: 30px;
  width: 150px;
}

.darkCodeCoolBackground p.active {
  color: #231E52;
  font-weight: bold;
  background-color: #FAF052;
  padding: 8px;
  border-radius: 30px;
  width: 150px;
}

.darkKvesztiBackground p.active {
  color: #1C1C1C;
  font-weight: bold;
  background-color: #FFCC7C;
  padding: 8px;
  border-radius: 30px;
  width: 150px;
}

.darkZsaniBackground p.active {
  color: #002B36;
  font-weight: bold;
  background-color: #E22E5D;
  padding: 8px;
  border-radius: 30px;
  width: 150px;
}

.gameModeSummary {
  font-size: 20px;
}

.gameModeCont p {
  margin: 10px;
}

.startGameHomePage {
  width: 150px;
  font-size: 20px;
}

.gameModeCont button {
  margin-bottom: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.navCont {
  width: 100%;
  color: white;
  padding: 0px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  height: 70px;
  left: 0;
  align-items: center;
  overflow-x: auto;
  z-index: 1000;
}

.navLoginLogout {
  position: absolute;
  right: 0;
  margin-right: 20px
}

.lbTitle,
.navTitle {
  font-family: 'LuckiestGuy';
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 20px;
}

.navCont p {
  margin: 0px 40px;
}

.navCont p:hover {
  transform: scale(1.2);
}



.goToRegister {
  margin: 0 auto;
  display: block;
}

body {
  background-image: linear-gradient(to bottom right, #18A5A7, #BFFFC7);
}

.blueBodyBackground {
  background-image: linear-gradient(to bottom right, #033495, #AEE4FF);
}

.pinkBodyBackground {
  background-image: linear-gradient(to bottom right, #D74177, #FFE98A);
}

.greenBodyBackground {
  background-image: linear-gradient(to bottom right, #18A5A7, #BFFFC7);
}

.purpleBodyBackground {
  background-image: linear-gradient(to bottom right, #7C3FCB, #E593FA);
}

.yellowBodyBackground {
  background-image: linear-gradient(to bottom right, #F1A45D, #FAE7B8);
}

.codeCoolBodyBackground {
  background-image: linear-gradient(to bottom right, #3A7B98, #C8F9FF);
}

.kvesztiBodyBackground {
  background-image: linear-gradient(to bottom right, #E9528F, #76D9EE);
}

.zsaniBodyBackground {
  background-image: linear-gradient(to bottom right, #008EAC, #09BEAD);
}

.formContainerLogin,
.formContainerRegister,
.optionsContainer,
.profileFormContainer,
.profileCont,
.pwdFormContainer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 500px;
  border-radius: 25px;
}

.profileFormContainer,
.pwdFormContainer {
  margin-top: 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.leaderboardCont,
.gameOverCont {
  margin-top: 100px;
  padding: 20px;
  margin-bottom: 30px;
  width: 500px;
  border-radius: 25px;
  display: block;
  align-content: center;
}

.gameOverCont h2 {
  color: white;
  margin-top: 20px;
}

.gameOverCont button {
  width: 200px;
  display: inline-block;
  margin: 20px 10px;

}


.profileFormContainer button,
.pwdFormContainer button {
  width: 200px;
  display: inline-block;
  margin: auto;
  margin-top: 20px;
}

.profileEditLabel,
.editTextInput,
.editDateInput {
  display: block;
  margin: auto;
}

.editTextInput,
.editDateInput {
  width: 300px;
  border-radius: 25px;
  padding: 10px;
  font-size: medium;
}

.yellowColorPicker,
.codeCoolColorPicker,
.kvesztiColorPicker,
.zsaniColorPicker,
.purpleColorPicker,
.blueColorPicker,
.greenColorPicker,
.pinkColorPicker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: white;
  border-width: 3px;
  border-style: solid;
  margin: 20px;
}

.colorPickerCont {
  display: flex;
  flex-direction: row;
}

.blueColorPicker {
  background-image: linear-gradient(to bottom right, #033495, #AEE4FF);
}

.greenColorPicker {
  background-image: linear-gradient(to bottom right, #18A5A7, #BFFFC7);
}

.pinkColorPicker {
  background-image: linear-gradient(to bottom right, #D74177, #FFE98A);
}

.purpleColorPicker {
  background-image: linear-gradient(to bottom right, #7C3FCB, #E593FA);
}

.yellowColorPicker {
  background-image: linear-gradient(to bottom right, #F1A45D, #FAE7B8);
}

.codeCoolColorPicker {
  background-image: linear-gradient(to bottom right, #3A7B98, #C8F9FF);
}

.kvesztiColorPicker {
  background-image: linear-gradient(to bottom right, #E9528F, #76D9EE);
}

.zsaniColorPicker {
  background-image: linear-gradient(to bottom right, #008EAC, #09BEAD);
}

.profileEditLabel {
  color: white;
  font-family: "LuckiestGuy";
  font-size: 30px;
  margin: 20px;

}

.profileData {
  color: white;
}

.profileInitials {
  font-size: 60px;
  font-family: "LuckiestGuy";
  padding: 5px;
}

.profileImgCont {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  vertical-align: middle;
}

.lightBlueBackground {
  background-color: #AEE4FF;
}

.lightPinkBackground {
  background-color: #FFE98A;
}

.lightGreenBackground {
  background-color: #BFFFC7;
}

.lightPurpleBackground {
  background-color: #E593FA;
}

.lightYellowBackground {
  background-color: #FAE7B8;
}

.lightCodeCoolBackground {
  background-color: #C8F9FF;
}

.lightKvesztiBackground {
  background-color: #76D9EE;
}

.lightZsaniBackground {
  background-color: #09BEAD;
}

.profileThemeDivider {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  width: 500px;
  color: #263864;
}

.lightBlueText {
  color: #AEE4FF;
}

.lightPinkText {
  color: #FFE98A;
}

.lightGreenText {
  color: #BFFFC7;
}

.lightPurpleText {
  color: #D8C1F5;
}

.lightYellowText {
  color: #FAE7B8;
}

.lightCodeCoolText {
  color: #FAF052;
}

.lightKvesztiText {
  color: #FFCC7C;
}

.lightZsaniText {
  color: #E22E5D;
}

.darkBlueText {
  color: #263864;
}

.darkPinkText {
  color: #974C79;
}

.darkGreenText {
  color: #187072;
}

.darkPurpleText {
  color: #503786;
}

.darkYellowText {
  color: #D68659;
}

.darkCodeCoolText {
  color: #231E52;
}

.darkKvesztiText {
  color: #1C1C1C;
}

.darkZsaniText {
  color: #002B36;
}

.lightBlueOpacBackground {
  background-color: rgb(174, 228, 255, 0.8);
}

.lightPinkOpacBackground {
  background-color: rgb(255, 233, 138, 0.8);
}

.lightGreenOpacBackground {
  background-color: rgb(191, 255, 199, 0.8);
  color: #187072;
}

.lightPurpleOpacBackground {
  background-color: rgb(244, 202, 255, 0.8);
}

.lightYellowOpacBackground {
  background-color: rgb(250, 231, 184, 0.8);
}

.lightCodeCoolOpacBackground {
  background-color: rgb(200, 249, 255, 0.8);
}

.lightKvesztiOpacBackground {
  background-color: rgb(118, 217, 238, 0.8);
}

.lightZsaniOpacBackground {
  background-color: rgb(9, 190, 173, 0.8);
}

.profileTitle {
  color: white;
}

.optionsContainer {
  padding: 20px;
}

.btnContProfile {
  margin-bottom: 10px;
}

.btnContProfile button {
  margin: 10px;
}

.dangerBtn {
  background-color: #eb3452;
}

.dangerZone {
  margin-top: 100px;
  background-color: #eb3452;
  width: 500px;
  border-radius: 25px;
  padding: 20px;
  color: black;
}

.dangerZone button {
  width: 200px;
  margin: 20px;
}

.difficultyDrop,
.categoryDrop {
  width: 70%;
  margin: auto;
  border-radius: 25px;
  font-size: large;
  padding: 10px;
  margin-bottom: 10px
}

.startGameBtn {
  width: 150px;
  margin: auto;
  margin-top: 20px
}

.formContainerRegister p,
.formContainerRegister h2 {
  margin: 20px;
  color: white;
}


.logInLabel,
.signUpLabel,
.logInTextInput,
.signUpTextInput {
  display: block;
  margin: 10px;
  padding: 0px;

}

.logInTextInput,
.signUpTextInput {
  font-size: large;
  border-radius: 10px;
  margin: auto;
  padding: 5px;
}

.logInLabel,
.signUpLabel,
.diffLabel,
.catLabel {
  font-family: "LuckiestGuy";
  font-size: 35px;
  color: white;
}

.needAccount {
  display: inline-block;
  margin-right: 1px;
  padding: 0px;
}

.logInBtn,
.signUpBtn {
  margin-bottom: 20px
}

.fromLoginToRegister button,
.fromRegisterToLogin button {
  background-color: transparent;
  display: inline-block;
  color: #033495;
  text-decoration: underline;
  margin-left: 5px;
  padding: 0px;
}

.alreadyMemberText {
  display: inline-block;
}

.pwInst {
  color: white;
}

.logo {
  height: 4em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
  margin: 3px, 5px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.questionCont {
  background-color: #D9D9D9;
  margin: 30px;
  padding: 30px;
  border-radius: 25px;
  font-weight: bold;
}

.QAndACont {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  width: 850px;
}

.answerCont {
  display: flex;
  flex-direction: row;
  background-color: #D9D9D9;
  margin: 30px;
  border-radius: 25px;
  height: 60px;
}

.answerIndex,
.answerText {
  display: inline-block;
  margin: auto 20px;
}

.answerIndex {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: auto;
  align-items: center;
  vertical-align: middle;
}

.answerIndexText {
  margin-top: 15%;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 100px;
}

.footerImg {
  transform: scale(0.5);
  position: fixed;
  bottom: -15px;
  right: -27px
}

.correct-answer-blink {
  animation: blink-green 0.5s infinite alternate;
  background-color: #5ADD87 !important;
}

.correct-answer {
  background-color: #5ADD87 !important;
}

.wrong-answer {
  animation: blink-red 0.5s infinite alternate;
  background-color: #eb3452 !important;
}

@keyframes blink-green {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes blink-red {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.underConstImg {
  transform: scale(0.7)
}

.topMargin {
  margin-top: 5%;
  height: 20px;
}

.timeBarCont {
  height: 10px;
  width: 800px;
  display: block;
  padding-left: 25px;
}

.timeBar {
  height: 100%;
  background-color: #5ADD87;
  transition: width 0.1s linear
}

.progressCont {
  display: block;
  width: 30%;
  margin: auto;
  margin-top: 20px;
}

.donutTxt {
  margin-top: 0;
}

.gameOverInfo {
  margin-top: 20px;
}

.trophyImg {
  width: 150px;
  margin: 10px;
}

.leaderboardCont {
  margin-top: 0px;
  padding: 20px;
  margin-bottom: 30px;
  width: 500px;
  border-radius: 25px;
  display: block;
  align-content: center;
}

.top5Global {
  display: grid;
  background-color: #D9D9D9;
  margin: 10px;
  border-radius: 25px;
  height: 40px;
  align-items: center;
  padding: 0 20px;
  grid-template-columns: 35% 53% 12%;
}


.categoryBtn {
  margin: 5px;
}

.categoryCardCont {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
  width: 1000px;
}

.leaderboardContCard {
  margin: 0px 10px 30px;
  padding: 20px;
  width: 250;
  border-radius: 25px;
  display: block;
  align-content: center;
}

.top3 {
  font-size: larger;
}

.top5GlobalC1,
.top5GlobalC2 {
  text-align: left;
}

.top5GlobalC3 {
  text-align: right;
}